language: node_js

sudo: false

node_js:
  - "0.10"
  - "4"

env:
  global:
    secure: C6IoK0qKopK5m7f0qx8nDkP44VzCnABwSgKV8bWGTDqfrXKWkk4Zi7XD9of4IQtL87ALP6zgSoJMzNshH39K5VXqb10yLf8KessQQhyIy+3iGPkVo0J4aEkLv8wvHpRqFlthJCMCjQivVkEB9Z7pTGy37zUZJ7RAk0op8TyvAUw=

addons:
  apt:
    sources:
     - ubuntu-toolchain-r-test
    packages:
     - libstdc++6 # upgrade libstdc++ on linux to support C++11

after_success:
 - if [[ ${TRAVIS_NODE_VERSION} == "0.10" ]]; then npm run coverage; fi;
